 body {
     background: #A3A4B6;
     width: 100%;
     height: 200%;
     padding-bottom: 0;
     padding-top: 0;
 }

 /*header styles*/
 div.navbar-all{
     background-color: #4c345c;
     position:fixed;
     min-width: 100%;
     margin: 0;
     padding-top: 0;
     border-radius: 10px;
 }

 /*navigation-bar*/
 div.container-fluid li a{
     color: whitesmoke;
     font-size:12pt;
 }
 a.navbar-brand{
     color: whitesmoke;
     font-size:20pt;
 }

 /*navigation-bar link styles*/
 div.navbar-header a:hover {
     background-color: #9F87AF;
     color: white;
 }
 div.container-fluid li a:hover{
     background-color: #9F87AF;
 }

 /*homepage*/
div.container {
    border: #4c345c solid;
    border-radius: 20px;
    background-color: whitesmoke;
    padding-bottom: 20px;
}
div.container img.home-img{
    margin: 20px;
    border: solid 5px #4c345c;
    border-radius: 10px;
    width: 45%;
    height: 45%;
}
div.container  h1#post_page{
    margin-bottom: -20px;
}

 /*login page*/
 div.mb-3 input{
     border-radius: 10px;
     border-color:#4c345c;
 }
 div.mb-3 #emailHelp{
     font-size: 10pt;
     color:black;
 }
 div.mb-3 label{
     font-size:20pt;
     color:#4c345c;
     padding-top: 10px;
 }

/*facts*/


 /*mission*/
#mission img{
    width: 100%;
    height: 100%;
    border: solid 15px #4c345c;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 0px;
}

/*contact us page*/
 div.form-group input.form-control, textarea{
     min-width: 400px;
     max-width: 400px;
     max-height: 200px;
 }

 /* footer style */
 #footer{
     clear:both;
     border-radius: 10px;
     border-color:#4c345c;
     margin-top: 120px;
 }
