 body {
     background: #A3A4B6;
     width: 100%;
     height: 200%;
     padding-bottom: 0;
     padding-top: 0;
 }


 /*header styles*/
 div.navbar-all{
     background-color: #4c345c;
     position:fixed;
     min-width: 100%;
     margin: 0;
     padding-top: 0;
     padding-bottom: 0;
     border-radius: 10px;
 }


 /*navigation-bar*/
 div.container-fluid li a{
     font-family: Copperplate, Papyrus, fantasy;
     color: whitesmoke;
     font-size:12pt;
 }
 a.navbar-brand{
     font-family: Copperplate, Papyrus, fantasy;
     color: whitesmoke;
     font-size:20pt;
 }


 /*navigation-bar link styles*/
 div.navbar-header a:hover {
     background-color: #9F87AF;
     color: white;
 }
 div.container-fluid li a:hover{
     background-color: #9F87AF;
 }


 /*homepage*/
div.container {
    font-family: Copperplate, Papyrus, fantasy;
    border: #4c345c solid;
    border-radius: 20px;
    background-color: whitesmoke;
    padding-bottom: 20px;
}
div.container img.home-img{
    margin: 20px;
    border: solid 5px #4c345c;
    border-radius: 10px;
    width: 45%;
    height: 45%;
}
div.container  h1#post_page{
    margin-bottom: -20px;
    text-shadow: 3px 3px #A3A4B6 ;
}


 /*login page*/
 div.mb-3 input{
     font-family: Copperplate, Papyrus, fantasy;
     border-radius: 10px;
     border-color:#4c345c;
 }
 div.mb-3 #emailHelp{
     font-size: 10pt;
     color:black;
 }
 div.mb-3 label{
     font-size:20pt;
     color:#4c345c;
     padding-top: 10px;
 }


/*facts*/
 div.container ul{
     padding-left: 0;
 }
div.container li.proj{
    display: inline;
}
div.container a.ref{
    font-size: 16pt;
    padding: 8px;
    background-color: #ddaae3;
 }
 div.container a.ref:visited{
     background-color: #ddaae3;
     color: white;
 }
div.container a.ref:hover{
    background-color: #9F87AF;
    color:#4c345c ;
    text-decoration: none;
}


 /*mission*/
#mission img{
    font-family: Copperplate, Papyrus, fantasy;
    width: 100%;
    height: 100%;
    border: solid 10px #4c345c;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 0;
}


/*contact us page*/
 div.form-group input.form-control, textarea{
     min-width: 400px;
     max-width: 400px;
     max-height: 200px;
     overflow: hidden;
 }
 div.card-body form{
     margin-top:-50px;
     font-size: 18pt;
     margin-left:-130px;
 }
 div.container#oth{
     border: none;
     margin-top:0;
     padding-top: 0;
 }
div#cont.container{
    border:none;
    margin-bottom:0;
    padding-bottom: 0;
}
div.container-contact {
    border: #4c345c solid;
    border-radius: 20px;
    background-color: whitesmoke;
    padding: 20px;
    margin:100px;
    max-width: 600px;
}


/* eyes*/
 div.eyes{
     position: absolute;
     top:60%;
     right: 10%;
     transform: translateY(-50%);
     width:100%;
     text-align: right;
 }
 div.eye{
     width: 180px;
     height: 80px;
     background-color: white;
     display: inline-block;
     margin:40px;
     border-radius: 50%;
     position: relative;
     overflow: hidden;

 }
 div.ball{
     width: 70px;
     height: 70px;
     background-color: black;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     border-radius:50% ;
     border: 15px solid #333;
 }
 div.shadow{
     width: 4px;
     height: 4px;
     background-color: white;
     position: absolute;
     top: 30%;
     left: 70%;
     transform: translate(-50%,-50%);
     border-radius:50% ;
 }


 /* footer style */
 #footer{
     font-family: Copperplate, Papyrus, fantasy;
     clear:both;
     border-radius: 10px;
     border-color:#4c345c;
     margin-top: 120px;
 }
